@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    background-image: url("../assets/whos_that_pokemon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header {
    background-color: #f15353;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

footer {
    background-color: #4daee6;
    padding: 10px;
}

#hidden {
    display: none;
}

#hidden2 {
    
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    width: 700px;
}

#input-page {
    font-family: 'Press Start 2P', cursive;
}